@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #121212;
    color: #e0e0e0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sidebar {
    float: left;
    height: 100vh;
    width: 60px;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.sidebar-item {
    margin: 20px 0;
    color: #e0e0e0;
    cursor: pointer;
    font-size: 24px;
}

.sidebar-item a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
}

.sidebar-item a:visited {
    text-decoration: none;
    color: inherit;
}

.sidebar-item a:active, .sidebar-item a.active {
    color: #2f38f0 !important;
}

.sidebar-item a.active i {
    color: #2f38f0;
}


.sidebar-item a:hover i {
    color: #2f38f0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #1f1f1f;
    border-bottom: 1px solid #333;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 20px;
}

.user-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user-name {
    font-weight: 700;
    margin: 1px;
}

.account-info {
    font-weight: 300;
    margin: 1px;
    color: #c0c0c0;
}

.notifications {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 20px;
}

.divider {
    width: 1px;
    height: 24px;
    background-color: #666;
    margin-right: 10px;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: #333;
    border-radius: 8px;
    padding: 5px;
    max-width: 300px;
    margin-left: auto;
}

.search-input {
    border: none;
    outline: none;
    background: transparent;
    color: #e0e0e0;
    padding: 8px;
    width: 100%;
    font-size: 14px;
}

.search-button {
    border: none;
    background: none;
    color: #e0e0e0;
    cursor: pointer;
    padding: 8px;
    transition: color 0.3s;
}

.search-button:hover {
    color: #00bcd4;
}

.dashboard {
    padding: 20px;
}

.top-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-color: #1f1f1f;
    border-radius: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
}

.indexes {
    font-size: 1.2em;
    font-weight: 400;
    color: #00e676;
    margin: 0 15px;
    white-space: nowrap;
}

@keyframes banner {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.banner {
    display: flex;
    animation: banner 30s linear infinite;
    justify-content: space-between;
    width: 100%;
}

.charts-container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
}

.charts-indiv-container {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.chart-title{
    margin: 0;
    padding-left: 15px;
    width: 100%;
    background-color: #1f1f1f;
}

.chart-title h3{
    margin-left: 10px;
}

.chart-box {
    flex: 1;
    padding: 20px;
    position: relative;
}

.lower-panel {
    display: flex;
    gap: 20px;
    margin-right: 10px;
}

.news-panel, .top-gainers {
    display: flex;
    flex-direction: column;
    width: 33%;
}

.news-panel-title, .top-gainers-title{
    margin: 0;
    padding-left: 15px;
    width: 100%;
    background-color: #1f1f1f;
}

.news-content, .top-gainers-content {
    flex: 1;
    padding: 20px;
    position: relative;
}

.news-panel ul, .top-gainers ul {
    list-style: none;
    padding: 0;
    color: #e0e0e0;
}

.news-panel li, .top-gainers li {
    margin-bottom: 10px;
}

.news-panel li:last-child, .top-gainers li:last-child {
    margin-bottom: 0;
}

.news-panel li {
    border-bottom: 1px solid #333;
    padding-bottom: 10px;
    padding-top: 10px;
}

.top-gainers li {
    border-bottom: 1px solid #333;
    padding-bottom: 10px;
    padding-top: 10px;
}

.top-gainers h3, .news-panel h3, .heat-map h3 {
    margin-bottom: 15px;
    color: #e0e0e0;
}

.news-panel ul {
    max-height: none;
    overflow-y: hidden;
}

button:hover {
    background-color: #388e3c;
}

.global-markets {
    position: relative;
}

.top-gainers ul {
    max-height: 300px;
    overflow-y: auto;
}

@media (max-width: 768px) {
    .charts-container {
        flex-direction: column;
    }

    .lower-panel {
        grid-template-columns: 1fr;
    }
}

.main {
    display:Flex;
}


h1 {
    font-size: 36px;
    margin-bottom: 5px;
}


.subheader {
    color: #aaaaaa;
    font-size: 14px;
    margin-bottom: 20px;
}

.account-overview {
    display: flex;
    align-items: center;
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 30px;
    position: relative;
}

.account-info {
    flex: 1;
    text-align: center;
}

.account-info h2 {
    font-size: 16px;
    color: #cccccc;
    margin-bottom: 10px;
}

.account-info .value {
    font-size: 24px;
    font-weight: bold;
}

.today_change {
    font-weight: bold;
    font-size: 24px;
}

.top-up {
    position: absolute;
    right: 20px;
    background-color: #0d6efd;
    color: #ffffff;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.top-up:hover {
    background-color: #0a58ca;
}

.trade-history {
    width: 95%;
    border-collapse: collapse;
    background-color: #1a1a1a;
    border-radius: 8px;
}

.trade-history thead th {
    padding: 10px;
    font-size: 14px;
    color: #cccccc;
    background-color: #333333;
    text-align: left;
}

.trade-history tbody td {
    padding: 10px;
    font-size: 14px;
    border-bottom: 1px solid #333333;
}

.main-content {
    padding-left:2px;
}

.popup{
    width: 400px;
    background:#333;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    padding: 30px;
    color: #ffffff;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.4s, top 0.4s;
    visibility: hidden;
    z-index: 1000;
}

.open-popup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%,-50%) scale(1);
}

.popup h2{
    padding-top:10px;
}

.popup p{
    padding: 10px;
    font-size: 14px;
}

.popup button {
    width:20%;
    background:#6fd649;
    padding:5px;
    border-radius:4px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

button:hover {
    background-color: #151bcb;
}

.message {
    color: #1236c3; 
    font-weight: bold; 
    background-color: #ffe5e5; 
    border: 1px solid #1153ec;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    text-align: center;
}

.quick-amounts {
    padding:20px;
}

button:hover {
    background-color: #151bcb;
}

.message {
    color: #1236c3; 
    font-weight: bold; 
    background-color: #ffe5e5; 
    border: 1px solid #1153ec;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    text-align: center;
}

.logout-button {
    position: sticky;
    padding-left: 40px;
    padding-right: 20px;
}

.logout-link {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

.logout-link:hover {
    color: #f00;
}



